<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" >
    <script type="text/javascript" src="{% static 'scripts.js' %}"></script>
    <script>
    {% if error %}
        alert("{{error}}");
        if( "{{error}}" == "Id Created"){
            window.location.href = "/login/";}
    {% endif %}
    </script>
</head>

<body>
    <div class="w3-bar w3-teal">
        <div class="w3-container w3-third"></div>
        <div class="w3-container w3-third">
            <h2 class="w3-center">InstaClone</h2>
        </div>
        <div class="w3-container w3-third ">
            <a href="/login/" class="w3-bar-item w3-button w3-right w3-margin w3-hover-white">Login</a>
        </div>
    </div>
    <div class="w3-row w3-center">
        <h3>Sign up to see photos and videos from your friends</h3>
    </div>
    <div class="w3-card-4 w3-margin w3-half w3-display-middle" style="max-width:500px">
        <div class="w3-container w3-teal">
            <h2>Signup</h2>
        </div>
        <form name="myform" class="w3-container w3-margin" method="post" onsubmit="return validateSignupForm()"><br>
            {% csrf_token %}
            <input name="username" class="w3-input" type="text" placeholder="Username"><br>
            <input name="name" class="w3-input" type="text" placeholder="Name"><br>
            <input name="email" class="w3-input" type="text" placeholder="Email"><br>
            <input name="password" class="w3-input" type="password" placeholder="Password"><br>
            <button name="button" class="w3-btn w3-ripple w3-teal w3-block">Signup</button><br>
        </form>
    </div>
</body>

</html>