<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup sucessful</title>
</head>
<style>
    body {
        background: burlywood;
        background: url("https://static.pexels.com/photos/33109/fall-autumn-red-season.jpg")
    }
    input[type="submit"] {
        background: red;
        color: white;
        border-radius: 20%;
    }
</style>
<body>
<h1 align="center" id="h1">You have Successfully Signed Up</h1><br>
<h1 align="center" id="h2">Redirecting To Login</h1><br>
    <script>
        function Redirect() {
          window.location='http://127.0.0.1:8000/login/'
        }
        setTimeout('Redirect()',3000);
    </script>
</body>
</html>